#site {
  height: 100%;
}

.app {
  position: relative;
  height: 100%;
}

.code-section {
  margin: 16px;
}

.code-section-body {
  margin: auto;
  margin-top: 6px;
  font-size: 1.5em;
  border: 1px solid #bbb;
  padding: 0 16px;
  max-width: 800px;
}
